.contenedor {
	height: 250px;
	margin: auto;
	width: 250px;
	-webkit-perspective: 700;
}

.carta {
	height: 100%;
	width: 100%;
	transition: all 1s;
	transform-style: preserve-3d;
	box-shadow: 0px 0px 5px black;
	position: absolute;
}

.carta:hover{
  transform: rotateY(180deg);
}

.lado{
	position: absolute;
	height: 100%;
	width: 100%;
   background: aqua;
  backface-visibility: hidden;
}

.frente{ background-color: crimson; }
.frente h3 {
   position: absolute;
   font-size: 38px;
   margin-top: 200px;
   color: #fffA;
}

img { height: 150%; width: 100%; }
ul {
	padding: 0;
  margin:0;
	list-style: none;
	height: 204px;
  
}

li {
	text-decoration: none;
	padding: 10px;
  z-index:80;
}


.atras{
	height: 100%;
	width: 150%;
  transform: rotateY(180deg);
}

.atras h3 {
	display: block;
  text-align: center;
  margin: 10px 0;
}
H1{
    text-align: center;
    color: aqua;
    
}
h2{
    color:brown;
    text-align: center;
}
body{
    background-color: black;
}